header {
  text-rendering: optimizeLegibility;
  font-family: 'Darcy', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  color: #000;
  padding: 8px;
}

.title {
  text-decoration: none;
}

.title a {
  text-decoration: none;
}

@font-face { 
  font-family: 'Darcy';
  src: url('public/fonts/mrdarcy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: .025em;
  line-height: 2.2em;
  overflow-x: hidden;
  position: relative;
  text-transform: none;
  color: #000014;
  margin: 0px;
  text-align: center;
  background-image: url('public/images/paperbackground.png');
}

.toppage {
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
}

.page {
display: flex;
  flex-direction: column;
  align-items: center;
border: 50px solid #abb9e8;
}

.infopage {
    margin-top: 22px;
    margin-bottom: 22px;
}

.pagetwo {
  padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.pagetwo ul {
  padding-inline-start: 0;
}

h1 {
font-family: 'Darcy', Helvetica, sans-serif;
font-weight: 700;
font-style: normal;
line-height: .9em;
text-transform: uppercase;            
text-align: center;
text-transform: uppercase;
text-decoration-thickness: 1px;
font-size: 85px;
}

h2 {
  text-align: center;
    white-space: pre-wrap;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 1px;
      font-size: 22px;
}

h3 {
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    letter-spacing: .12em;
    line-height: 1.5em;
    text-transform: uppercase;
    white-space: pre-wrap;
      color: #000;
              padding-bottom: 17px;
}

ul h2 {
  font-family: 'Darcy', sans-serif;

}

p {
  font-family: proxima-nova, sans-serif;
}

#leafIcon{
  height: 25px;
}

.menuIcon {
  position: relative;
}

.menuIcon img {
  /* position: absolute; */
  opacity: 0;
  z-index: 99;
  left: 0;
  transition: ease-in-out opacity .5s;
}

.menuIcon:hover img {
  opacity: 1;
}

h1 a{
  box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

h1 a:visited{
  color: inherit;
}

h1 a:hover{
  box-shadow: inset 700px 0 0 0 #54b3d6;
    color: black;
  cursor: pointer;
}

h2 a:hover {
  
}

h2 a:visited{
  background-color: rgb(25, 0, 255);
  color: inherit;
}

#waveform {
  border: 1px solid black;
  position: fixed;
  width: 75%;
}

#waveform :hover{
    color: black;
    cursor: pointer;
}

/* we use !important to override waveform's inline styles */
wave {
  height: 50px;
  overflow: hidden!important;
  pointer-events: none;
  opacity: 75%;
}
wave wave {
  position: absolute !important;
}

wave canvas{
  display: none;
}

wave wave canvas{
  display: block;
}

.waveholder {
  position: absolute;
left: 0;
top: 17%;
width: 100%;
}

.buttonStyle {
  border: none;
  display: block;
  width: 100%;
  max-width: 75vw;
  height: 80px;
  margin-bottom: 20px;
  position: relative;
  background-color: #ddb38591;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: rgb(48, 48, 48);
  cursor: pointer;
  transition: color ease-in-out 0.5s;
}

.buttonStyle:hover {
  background-color: #b9916691;
}

.buttonStyle.playing {
  color: rgba(54, 54, 54, 0.121);
  border: 1px solid black;
}

#nameList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wave-container {
  overflow: hidden;
  zoom: 2;
}

.waves {
  position: absolute;
  bottom: 0;
  animation: myOrbit 4s alternate-reverse infinite;
}

.waves.one {
  left: 0;
  margin-left: -36.1px;
}

.waves.two {
  right: 0;
  margin-right: -36.1px;

}



@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { transform: rotate(0deg) translateX(-10px) rotate(0deg); }
}
